<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="app-container">
        <main>
            <div class="welcome-text">
                <h1>Queue Management System</h1>
            </div>
            <div class="button-container">
                <button id="customer-btn" class="action-button">
                    <span>Customer</span>
                    <i class="fas fa-chevron-right"></i>
                </button>
                <button id="provider-btn" class="action-button">
                    <span>Service Provider</span>
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <div id="message-container" class="message"></div>
        </main>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="/static/script.js"></script>
</body>
</html>