body {
    font-family: 'Inter', sans-serif;
}
.hero-illustration-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw-in 2s ease-in-out forwards;
}
@keyframes draw-in {
    to {
        stroke-dashoffset: 0;
    }
}
.scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
}
